doctype html
//- <html>
<html ng-app="app" ng-controller="app">
//- <html #{dev?'':'ng-cloak'}>
head
    title= title || (req && req.path && (req.path.substring(1) + (req.path.length>2?' - ':'') + appName)) || appName

    if(dev)
        script(src='/livereload.js')

    script var dev = !{JSON.stringify(dev || false)};
    //- script var resources = !{JSON.stringify(resources || false)};
    script var resourcesAngularApp = !{JSON.stringify(resources.angularApp || false)};

    //- script(src="/socket.io/socket.io.js")

    if(dev)
        script io.connect().on('changed', location.reload);

    //- link(rel="stylesheet", href="/public.min.css")
    //- link(rel="stylesheet", href="/app.min.css")
    //- script(src="/public.min.js")
    //- script(src="/app.min.js")

    if(resources.public.css)
        each css in resources.public.css
            link(rel="stylesheet", href="/#{css}")
    link(rel="stylesheet", href="/app.min.css")
    if(resources.public.js)
        each js in resources.public.js
            script(src="/#{js}")
    if(resources.client.js)
        each js in resources.client.js
            script(src="/#{js}")

<body>
header-nav
<main>